<div class="container text-center">

  <div class="row">
    <div class="col m-4">
      <div class="text-center bg-light border border-primary rounded-lg">
        <h1>
          <i class="material-icons">
            notes
          </i>
          Auto-completion sample
        </h1>
        <h2>Using ASP.NET CORE - Angular (2+) - Angular Material</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m-4">
      <div class="text-center alert alert-primary">
        Small project on using the <a href="https://adresse.data.gouv.fr/">french governmental address API</a>
        to auto-complete address fields.
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col m-4">
      <app-auto-completion></app-auto-completion>
    </div>
  </div>

</div>